body {
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background: #d2ded9;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    height: 165px;
    margin: 0 auto;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

nav li {
    float: none;
    display: inline-block;
}

nav ul li:nth-child(1){
    float: left;
}

nav ul li:nth-child(2){
    float: left;
}

nav a {
    color: #33384c;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 80px 20px;
}

nav a:hover {
    color: #000;
}

#main_menu{
    position: relative;
    width: 100%
}

.logo {
    width: 388px;
    height: 94px;
    position: absolute;
    left: 50%;
    top: 0;
    content: "";
    margin-left: -220px;
    padding: 40px 10px;
}

.main {
    background-image: url("img/bg1.png");
    height: 1500px;
    width: 100%;
    position: relative;
}

.mainText {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #33384c;
    font-size: 50px;
}

.sectionDivider {
    background: #3b6670;
}

.map {

}
.mapLogo {
    color: #acc6be;
    font-size: 20px;
    text-decoration: none;
}

.camera {

}

.tripReport {
    color: #acc6be;
    font-size: 20px;
    text-decoration: none;
}

.park {

}

.featureList {
    color: #acc6be;
    font-size: 20px;
    text-decoration: none;
}

.recentTrip {
    color: #33384c;
    font-size: 46px;
    text-decoration: none;
    text-align: center;
}


.gridSection {
    background-image: url("img/bg2.png");
}

.square1 {
    float: left;
    color: #3b6670;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    margin-left: 5.5%;

}


.cascades {
    width: 540px;

}

.square2 {
    color: #3b6670;
    font-size: 25px;
    text-decoration: none;
    text-align: center;


}

.crystal {
    width: 540px;

}

.square3 {
    float: left;
    color: #3b6670;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    margin-left: 5.5%;


}

.goatPeak {
    width: 540px;

}

.square4 {
    color: #3b6670;
    font-size: 25px;
    text-decoration: none;
    text-align: center;

}

.aix {
    width: 540px;

}

.footer {
    background-color: #3b6670;
    color: #33384c;
    font-size: 40px;
    text-decoration: none;
}

.footerText {

}

.facebook {

}

.instagram {

}

.twitter {

}